* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 1.3rem;
    background-color: green;
    border-bottom: 2px dashed black;
}
nav #navSubContainer {
    display: flex;
    gap: 20px;
}
nav #navSubContainer h2 {
    cursor: pointer;
}



/* First Container (Stock Container) */
#stockContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 60px);
}
#leftStockContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: red;
    border-right: 2px dashed black;
    overflow: hidden;
}
#rightStockContainer {
    padding: 10px;
    font-size: 1.4rem;

    background-color: blue;
    overflow-y: auto;
}

/* Left Stock Container */
.stockInput, #stockButton {
    width: 300px;
    height: 50px;
    padding: 5px;
}
#stockButton {
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

/* Right Stock Container */
.stockList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px;
    color: #b4b2b2;
}
.deleteProductButton {
    margin-left: 10px;
    font-size: 1.4rem;
    cursor: pointer;
}

/* Second Container (Cashier Transactions Container) */
#cashierContainer {
    display: none;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 60px);
}
#leftCashierContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    height: 100%;
    min-height: 0;
    overflow: hidden;
    background-color: red;
}
#rightCashierContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;

    background-color: blue;
    overflow: hidden;
}
#itemStockContainer {
    width: 100%;
    flex: 1;
    padding: 10px;

    overflow-y: auto;
}
#itemStockContainer li {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

/* Right Cashier Container */
#cartItemsContainer {
    flex: 1;
    min-height: 0;
    padding: 10px;

    overflow-y: auto;
}
#cartList {
    list-style: none;
}
#cartList li {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
#cartSummaryContainer {
    padding: 10px;
    font-size: 1.4rem;
    border-top: 2px dashed black;
}
#cartSummaryContainer p {
    margin-bottom: 10px;
}
#payButton {
    width: 100%;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}



/* Third Container (History Payment Container) */
#historyContainer {
    display: none;
    padding: 10px 25px;
    height: calc(100vh - 60px);
}
#historyList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    color: gray;
    font-size: 1.4rem;
    overflow-y: auto;
}